@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply transition-colors duration-300 bg-[#020617] text-white;
  }

  /* Hide scrollbar globally */
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
  }
  
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
